* {
}

body {
    background-image: url("images/body/snowy-mountain.jpg");
    background-color: #1e2047;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}


#headerID {
     /* Zmizne prvok, umiestnenie v ramci viewportu */
    top: 0; /* Zarovnanie dohora */
    left: 0; /* Zarovanie dolava */
    right: 0; /* Zarovnanie doprava */
    z-index: 30; /* Z-Index znamena ze v akom poradi bude prekryta stranka tymto elementom */
    margin: 0 auto;
}

#headerID .navbar {
    top: 30px;
    right: 0;
    left: 0;
}

.navbar .container {
    display: flex;
    background-color: #190F26;

}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.navbar-logo {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
    margin-left: .5em;
}

.navbar-logo img {
    width: 30%;
}

.navigation-menu {

    width: 80%;

}

.navbar-item {
    display: block;
    padding: .5rem .75rem;
    align-items: center;
}



.navigation-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.navigation-menu li {
    display: flex;
    font-size: 1.2em;
    text-align: center;


}
.navigation-menu li a {
    text-decoration: none;
    color: rgb(123, 44, 191);


}

.navigation-menu li a:hover {
    text-decoration: none;
    color: white;
    transition: .5s ease;
}


.navigation-login {
    width: 27em;
    float: right;

}

.login-container {
    float: left;

}

.login-container ul {
    display: flex;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.login-container ul .material-icons {
    vertical-align: middle;
}

.login-container input[type = "text"], .login-container input[type="password"]  {
    background-color: inherit;
    border: 2px rebeccapurple solid;
    text-align: center;
    border-radius: 24px;
    height: 80%;
    color: white;
    margin: auto;
    width: 80%;
    box-sizing: border-box;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1.25em;
}

.login-container input[type = "text"]:focus, .login-container input[type="password"]:focus {
    border-color: ghostwhite;
    transition: 0.25s;
    width: 100%;
    outline: none;


}

.login-container li.has-login-dropdown {
    display: flex;
    flex-direction: column;

}




.hidden-signup {
    display: none;
    position: absolute;
    margin-top: 2.1em;
    margin-left: calc( (-2em) );
    background-color: rgba(25, 15, 38, 1);
    border-radius: 10px;
    height: 6em;
    width: 7em;
    justify-content: space-around;
    transition: opacity 1s ease-out;
    opacity: 0;




}

.hidden-signup ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    border: 0 solid black;
    justify-content: flex-end;

}

.hidden-signup input[type = "button"]:hover   {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;

}

.hidden-signup li {
    padding: 0.3em 0 0.4em 0;
    display: flex;


}

.hidden-signup input[type = "button"]{
    background-color: inherit;
    border: 2px rebeccapurple solid;
    text-align: center;
    color: white;
    margin: auto 0;
    width: 100%;
    height: 2em;
    box-sizing: border-box;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1.25em;
    float: left;
    border-radius: 7px;


}



.navigation-login .login-container ul li label {
    position: absolute;
    display: block;
    color: rebeccapurple;
    margin: -1.0em;


}

.login-container ul li:hover  label{
    color: ghostwhite;
    transition-delay: 1s;
    transition: 0.25s;
}



.navigation-login .login-container ul li label[for=login] {
    margin-left: 3.2em;
}

.navigation-login .login-container ul li label[for=password] {
    margin-left: 2.45em;
}

.has-login-dropdown:hover .hidden-signup {

    display: flex;
}

.has-login-dropdown:hover .hidden-signup {

    opacity: 1;
}

.contentContainer {

    margin: 1em auto 0;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.75);
    border: .2em black solid;


}

.contentBox {
    padding: 2em;
}

.contentBox h1, .contentBox h2, .contentBox h3 {
    color: black;
    text-shadow: 1px 1px 12px white;

}

.contentBox h1 {
    text-align: center;
    font-size: 1.8em;
    /*color: #101010;*/

}

.contentBox h2 {
    text-align: left;
}

.contentBox p {
    font-size: 1.1em;
    color: #e8dede;
}

.contentBox .portfolio-me-img {
    max-width: 300px;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    float: right;
    margin-left: 2em;


}
.contentBox .portfolio-me-img:hover {
    transition: all .5s ease;
    opacity: 0.8;

}
.contentBox hr {
    margin-top: 4em;

}

.contentBox .contactParagraph {
    text-align: center;

}


.contactOverlay {
    position: relative;
    max-width: 10em;
    margin: 0 auto;
}

.contactGmailLogo {
    display: block;
    margin: 0 auto;
    opacity: 1;
    transition: .5s ease;
}


.hiddenContactText {
    top: 1px;
    margin: 0 auto;
    padding: 0.2em 0 0.2em 0;
    width: 100%;
    position: absolute;
    font-size: 1em;
    /* Ak by bol problem tak max-font-size: 1em; */
    text-align: center;
    opacity: 0;
    transition: .5s ease;
}

.contactOverlay:hover .hiddenContactText {
    opacity: 1;
}
.contactOverlay:hover .contactGmailLogo {
    opacity: 0;
}

.oblubene-hry-table tr td img:hover {
    opacity: 0.7;
}
.oblubene-hry-table tr td img {
    max-width: 8em;
    transition: .5s ease;
}

.development-tables tr td img:hover {
    opacity: 0.7;
}

.development-tables tr td img {
    max-width: 8em;
    transition: .5s ease;
}

.zoznam-hier, .development-zoznam, .os-zoznam {
    overflow-x:auto;
}

.os-tables tr td img:hover {
    opacity: 0.7;
}

.os-tables tr td img {
    max-width: 8em;
    transition: .5s ease;
}

.os-tables tr td, .development-tables tr td, .oblubene-hry-table tr td {
    padding-right: 1em;
}




.projects-article {
    display: inline-flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 1em;
    justify-content: space-around;
    min-height: 100%;

}

.project-box {
    display: flex;
    justify-content: space-around;
}

.contentBox .project-box:nth-of-type(even) {
    flex-direction: row-reverse;
}

.project-box .cover-projects-img {
    display: inline-flex;
    align-content: center;
    justify-content: space-around;
    width: 20%;

}

.project-box .cover-projects-img img {
    position: relative;
    max-width: 100%;
    height: auto;
}



.projects-article:nth-of-type(2n) p{
    text-align: right;
}

.project-box .projects-article:nth-of-type(2n) img{

    float: right;
    margin-left: 3em;
    margin-right: 0;

}


.contentBox .project-box:nth-of-type(even) .projects-article .project-title{
    text-align: right;
    padding-right: 40%;
}

.contentBox .project-box:nth-of-type(odd) .projects-article .project-title{
    text-align: left;
    padding-left: 40%;
}

@media screen and (max-width: 1050px) {

    .project-box {
        display: block;
    }

    .project-box .cover-projects-img {
        display: flex;
        align-content: center;
        justify-content: space-around;
        width: 100%;
    }

    .projects-article {
        display: flex;
        width: 100%;
        text-align: center;

    }

    .contentBox .project-box:nth-of-type(n) .projects-article .project-title{
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }

}
.gallery-imagebox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 1em;


}

.gallery-imagebox img {

    width: 15%;
    padding: 1.5%;

}

.blogBox {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 2em;



}

.WIP {
    background: url("images/monkeyworking.jpg") center no-repeat fixed ;
    background-size: calc(100vw - 50%);
    opacity: 0.2;
    min-height: 400px ;

}


footer {
    display: flex;
    width: 100%;
    background-color: #190F26;
    color: white;
    justify-content: center;
}

footer p{
    font-size: 1em;
    text-align: center;
}


/* ------------- SIGNUP FORM ------------- */

.signup-form {
    display: flex;
    justify-content: space-around;
    height: 100vh;

}

.signup-form ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 2em 0 ;

}

.signup-form ul li {
}

.signup-form label {
    color: ghostwhite;
    display: flex;
}

.signup-form input {
    display: flex;
}

@media screen and (max-width: 640px) {
    .navbar-logo {
        display: none;
    }

    .navigation-menu {

        width: 100%;

    }

    .navigation-menu ul {
        padding: 0;

    }

}

@media screen and (max-width: 550px) {
    .contentBox .portfolio-me-img {
        display: block;
        float: none;
        margin: 0 auto;

    }

    .os-tables tr td img, .development-tables tr td img, .oblubene-hry-table tr td img {
        max-width: calc(100vw / 5);
    }



}



@media screen and (max-width: 470px) {

    .navigation-menu li {
       font-size: 1em;
        width: 100%;
    }

    .gallery-imagebox {
        display: flex;
        flex-direction: column;
        border: 1px black solid;
        background-color: rgba(255, 255, 255, 0.1);
        margin-bottom: 1em;
    }

    .gallery-imagebox img {

        width: 80%;
        padding: 4% 1.5%;

    }

}


@media screen and (max-width: 430px) {

    .navigation-menu li {
        font-size: 0.8em;
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .navbar-item {
        padding: 1px;
    }

}

@media screen and (max-width: 380px) {

    .contentBox .portfolio-me-img {

        max-width: calc(100vw - 100px);

    }

}

@media screen and (max-width: 240px) {

    .navigation-menu li {
       display: none;
    }


}

@media screen and (max-width: 200px) {

    .navigation-menu li {
        display: none;
    }
    .contentBox .portfolio-me-img {
        display: none;
    }


}








