* {

}

body {
    background-image: url("images/body/snowy-mountain.jpg");
    background-color: #1e2047;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}

body.body-admin-panel {
    background-color: black;
    background-image: none;
}

.bg-image {
    position: fixed;
    background-image: url("images/body/snowy-mountain.jpg");
    background-size: cover;
    top: -2em;
    left: -2em;
    width: calc(100% + 4em);
    height: calc(100% + 4em);
    filter: blur(15px);
    opacity: 0.8;
    z-index: -1;
}


#headerID {
    /* Zmizne prvok, umiestnenie v ramci viewportu */
    top: 0; /* Zarovnanie dohora */
    left: 0; /* Zarovanie dolava */
    right: 0; /* Zarovnanie doprava */
    z-index: 30; /* Z-Index znamena ze v akom poradi bude prekryta stranka tymto elementom */
    margin: 0 auto;
}

#headerID .navbar {
    top: 30px;
    right: 0;
    left: 0;
}

.navbar .container {
    display: flex;
    background-color: #190F26;

}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.navbar-logo {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: flex-start;
    margin-left: .5em;
}

.navbar-logo img {
    width: 30%;
}

.navigation-menu {

    width: 80%;

}

.navbar-item {
    display: block;
    padding: .5rem .75rem;
    align-items: center;
}


.navigation-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.navigation-menu li {
    display: flex;
    font-size: 1.2em;
    text-align: center;
    color: rgb(123, 44, 191);


}

.navigation-menu li a {
    text-decoration: none;
    color: rgb(123, 44, 191);


}

.navigation-menu li a:hover {
    text-decoration: none;
    color: white;
    transition: .5s ease;
}

.navigation-menu li .admin-nav-icon {
    background: inherit;
    border: none;
    color: inherit;
}

.navigation-menu li .admin-nav-icon:hover {
    color: snow;
    transition: .5s ease;
}


.navigation-login {
    width: 27em;
    float: right;

}

.login-container {
    float: left;

}

.login-container ul {
    display: flex;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.login-container ul .material-icons {
    vertical-align: middle;
}

.login-container input[type = "text"], .login-container input[type="password"] {
    background-color: inherit;
    border: 2px rebeccapurple solid;
    text-align: center;
    border-radius: 24px;
    height: 80%;
    color: white;
    margin: auto;
    width: 80%;
    box-sizing: border-box;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1.25em;
}

.login-container input[type = "text"]:focus, .login-container input[type="password"]:focus {
    border-color: ghostwhite;
    transition: 0.25s;
    width: 100%;
    outline: none;
}

.login-container .person-content:before {
    content: "person";
}

.login-container .login-button:hover:before {
    content: "how_to_reg";

}

.login-container .login-button {

    background-color: inherit;
    border-style: none;
    color: rgb(123, 44, 191);


}

.login-container .login-button:hover {
    color: white;
    transition: .5s ease;
}

.login-container li.has-login-dropdown {
    display: flex;
    flex-direction: column;

}


.hidden-signup {
    display: none;
    position: absolute;
    margin-top: 2.1em;
    margin-left: calc((-2em));
    background-color: rgba(25, 15, 38, 1);
    border-radius: 10px;
    height: 6em;
    width: 7em;
    justify-content: space-around;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.hidden-signup ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    border: 0 solid black;
    justify-content: flex-end;

}

.hidden-signup input[type = "submit"]:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;

}

.hidden-signup li {
    padding: 0.3em 0 0.4em 0;
    display: flex;


}

.hidden-signup input[type = "submit"] {
    background-color: inherit;
    border: 2px rebeccapurple solid;
    text-align: center;
    color: white;
    margin: auto 0;
    width: 100%;
    height: 2em;
    box-sizing: border-box;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1.25em;
    float: left;
    border-radius: 7px;


}


.navigation-login .login-container ul li label {
    position: absolute;
    display: block;
    color: rebeccapurple;
    margin: -1.0em;


}

.login-container ul li:hover label {
    color: ghostwhite;
    transition-delay: 1s;
    transition: 0.25s;
}


.navigation-login .login-container ul li label[for=login] {
    margin-left: 3.2em;
}

.navigation-login .login-container ul li label[for=password] {
    margin-left: 2.45em;
}

.has-login-dropdown:hover .hidden-signup {

    display: flex;
}

.has-login-dropdown:hover .hidden-signup {

    opacity: 1;
}


.form-default-hidden {
    display: flex;
    align-content: space-evenly;

}

.form-default-hidden ul {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 0.5336em 1em;
    margin: 0;
}


.form-default-hidden .logout-button button { /* Logout button */
    display: flex;
    float: right;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;

}

.form-default-hidden .logout-button button:hover { /* Logout button hover */
    color: rebeccapurple;
    transition: 0.25s;


}

.logged-container {

    width: 100%;
}

.form-default-hidden .logged-in-avatar, .form-default-hidden .logged-in-user {
    display: unset;
}

.logged-container li {
    width: 100%;
    font-size: 1em;
}

.login-container .logged-in-avatar {
    width: 55%;

}

.form-default-hidden .logged-in-avatar {
    display: flex;
    color: rebeccapurple;
    float: left;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.logged-in-avatar img {
    border-radius: 10px;
    width: 3em;
}

.logged-in-user {
    border: 2px rebeccapurple solid;
    color: rebeccapurple;
    float: left;

}

.logged-in-user p {
    text-align: center;
}

.form-default-hidden .logout-button {
    display: flex;
    width: unset;
    justify-content: flex-end;
}


.contentContainer {

    margin: 1em auto 0;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.75);
    border: .2em black solid;


}

.contentBox {
    padding: 2em;
}

.contentBox h1, .contentBox h2, .contentBox h3 {
    color: black;
    text-shadow: 1px 1px 12px white;

}

.contentBox h1 {
    text-align: center;
    font-size: 1.8em;
    /*color: #101010;*/

}

.contentBox h2 {
    text-align: left;
}

.contentBox p {
    font-size: 1.1em;
    color: #e8dede;
}

.contentBox .portfolio-me-img {
    max-width: 300px;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    float: right;
    margin-left: 2em;


}

.contentBox .portfolio-me-img:hover {
    transition: all .5s ease;
    opacity: 0.8;

}

.contentBox hr {
    margin-top: 4em;

}

.contentBox .contactParagraph {
    text-align: center;

}


.contactOverlay {
    position: relative;
    max-width: 10em;
    margin: 0 auto;
}

.contactGmailLogo {
    display: block;
    margin: 0 auto;
    opacity: 1;
    transition: .5s ease;
}


.hiddenContactText {
    top: 1px;
    margin: 0 auto;
    padding: 0.2em 0 0.2em 0;
    width: 100%;
    position: absolute;
    font-size: 1em;
    /* Ak by bol problem tak max-font-size: 1em; */
    text-align: center;
    opacity: 0;
    transition: .5s ease;
}

.contactOverlay:hover .hiddenContactText {
    opacity: 1;
}

.contactOverlay:hover .contactGmailLogo {
    opacity: 0;
}

.oblubene-hry-table tr td img:hover {
    opacity: 0.7;
}

.oblubene-hry-table tr td img {
    max-width: 8em;
    transition: .5s ease;
}

.development-tables tr td img:hover {
    opacity: 0.7;
}

.development-tables tr td img {
    max-width: 8em;
    transition: .5s ease;
}

.zoznam-hier, .development-zoznam, .os-zoznam {
    overflow-x: auto;
}

.os-tables tr td img:hover {
    opacity: 0.7;
}

.os-tables tr td img {
    max-width: 8em;
    transition: .5s ease;
}

.os-tables tr td, .development-tables tr td, .oblubene-hry-table tr td {
    padding-right: 1em;
}


.projects-article {
    display: inline-flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 1em;
    justify-content: space-around;
    min-height: 100%;

}

.project-box {
    display: flex;
    justify-content: space-around;
}

.contentBox .project-box:nth-of-type(even) {
    flex-direction: row-reverse;
}

.project-box .cover-projects-img {
    display: inline-flex;
    align-content: center;
    justify-content: space-around;
    width: 20%;

}

.project-box .cover-projects-img img {
    position: relative;
    max-width: 100%;
    height: auto;
}


.projects-article:nth-of-type(2n) p {
    text-align: right;
}

.project-box .projects-article:nth-of-type(2n) img {

    float: right;
    margin-left: 3em;
    margin-right: 0;

}


.contentBox .project-box:nth-of-type(even) .projects-article .project-title {
    text-align: right;
    padding-right: 40%;
}

.contentBox .project-box:nth-of-type(odd) .projects-article .project-title {
    text-align: left;
    padding-left: 40%;
}

@media screen and (max-width: 1050px) {

    .project-box {
        display: block;
    }

    .project-box .cover-projects-img {
        display: flex;
        align-content: center;
        justify-content: space-around;
        width: 100%;
    }

    .projects-article {
        display: flex;
        width: 100%;
        text-align: center;

    }

    .contentBox .project-box:nth-of-type(n) .projects-article .project-title {
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }

}

.gallery-imagebox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 1em;


}

.gallery-imagebox img {

    width: 15%;
    padding: 1.5%;

}

.blogBox {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 2em;


}

.WIP {
    background: url("images/monkeyworking.jpg") center no-repeat fixed;
    background-size: calc(100vw - 50%);
    opacity: 0.2;
    min-height: 400px;

}


/*<editor-fold desc="Footer">*/
footer {
    display: flex;
    width: 100%;
    background-color: #190F26;
    color: white;
    justify-content: center;
}

footer p {
    font-size: 1em;
    text-align: center;
}

/*</editor-fold>*/


/* ------------- SIGNUP FORM ------------- */

.signup {
    display: flex;
    width: 100%;
    justify-content: space-around;
    min-height: calc(100vh - 142px);


}

.signup ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 2em 0;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 1em;
    width: 25em;
    justify-content: center;


}

.signup ul li {
    display: flex;
    flex-direction: column;
    padding: 0.2em 0;
    justify-content: center;

}

.signup ul li input {
    display: block;
    border: 2px solid rebeccapurple;
    height: 3em;
    border-radius: 15px;
    background-color: inherit;
    color: ghostwhite;
    text-align: center;
    width: 15em;
    margin: auto;

}

.signup ul li input:focus {

    width: 25em;
    transition: 0.25s;
    border: 2px solid ghostwhite;
    outline: none;
}

.signup label {
    display: block;
    height: 2em;
    color: ghostwhite;
    margin: auto;
    padding-top: 0.2em;

}

.signup ul li input[type = "submit"] {
    width: 10em;
    margin-top: 1.5em;
    background-color: rgba(255, 255, 255, 0.2);
}

.signup ul li button:focus {
    width: 10em;
}

.signup ul li .error-messages {
    text-align: center;
    color: rebeccapurple;
    font-size: 1.5em;
}

.signup ul li .success-messages {
    text-align: center;
    color: lightgrey;
    font-size: 1.5em;
}

.profile-content {
    min-height: calc(100vh - 9em);
    background-color: rgba(0, 0, 0, 0.5);
    width: 75%;
    margin: 0 auto;
    border: 1px solid rebeccapurple;
    border-radius: 5px;
    overflow: hidden;

}

.profile-top-image-name {
    overflow: hidden; /* Appendne cely image do divka - Nevytrca von */
    display: flex;
    align-items: center;
}

.profile-content img {
    margin: 2em 0 0 3em;
    border: 3px solid rebeccapurple;
    border-radius: 10px;
    float: left;

}

.profile-name {

    display: flex;

    width: 82%;


}

.profile-content ul {
    display: inline-flex;
    float: left;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0 auto 1em;
    width: 90%;


}

.profile-content ul .li-name {
    margin: 0 8em;
    background-color: white;
    width: 20%;


}

.profile-content .profile-data-ul {

    margin-left: 3.5em;
    margin-top: 10em;
    display: flex;
    flex-direction: column;


}

.profile-content ul li {


}

.profile-content ul li .password-desc {
    width: 100%;
}

.profile-content ul li p {
    display: inline-flex;
    border: 2px solid rebeccapurple;
    padding: 1em;
    border-radius: 24px;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;

}

.profile-content .profile-change-label {
    display: inline-flex;
    justify-content: flex-start;
    margin-left: 1em;;
}


.profile-content .profile-change-label label {
    padding: 0.8em;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    min-width: 5em;


}

.profile-content .profile-change-label input[type="text"] {
    min-width: 11em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;

}

.profile-content .profile-change-label input[type="text"]:focus {
    min-width: 15em;
    transition: 0.5s;

}

.profile-content .profile-change-label input[type="submit"] {
    background-color: rgba(102, 51, 153, 0.7);
    border: none;
}

.profile-content .profile-change-label input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

.profile-change-box {
    display: inline-flex;
    width: 60%;
    padding: 0.8em;
    justify-content: center;
}

.profile-change-box input {
    padding: 0.8em;
}

.profile-change-box-row {

    display: flex;
    width: 100%;
}

.profile-content .profile-change-label input[type="password"] {
    min-width: 10em;
    text-align: center;
}

.profile-content .profile-change-label input[type="password"]:focus {
    min-width: 15em;
    transition: 0.5s;

}

/*<editor-fold desc="Admin Panel Redirect">*/
.admin-panel-box {
    margin-top: -1em;
    min-height: calc(100vh - 56px);

}

.admin-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: inherit;
}
.admin-login ul {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid white;
    padding: 2em;
    margin: 0;
}

.admin-login ul:focus-within {
    transition: 0.5s;
    border-color: turquoise;
}

.admin-login ul {
    color: snow;
    font-size: 1.7em;
}

.admin-login ul li {
    display: flex;
    flex-direction: column;
}

.admin-login ul li label {
    text-align: center;
    font-size: 0.9em;
    color: mediumpurple;
    padding: 0.5em 0;
}

.admin-login ul li input{
    text-align: center;
    width: 30%;
    align-self: center;
    height: 2em;
    border: 0.3em solid rebeccapurple;
    background: rgba(255,255,255,0.1);
    border-radius: 1em;
}

.admin-login ul li input:focus {
    width: 60%;
    transition: 0.5s;
    border-color: turquoise;

}

.admin-login ul li input[type='submit'] {
    margin-top: 1.5em;
    background: rgba(255,255,255,0.2);
    border-color: rebeccapurple;
    color: black;
    height: 3em;
    width: 10%;
}

.admin-login ul li input[type='submit']:hover {
    border-color: turquoise;
    background-color: unset;
    color: grey;
    transition: 0.5s;
    width: 11%;

}



/*</editor-fold>*/


/*<editor-fold desc="Admin Panel">*/
.admin-panel-main-wrapper{
    margin: 0 auto 0;
    width: calc(100% - (0.2em * 2));
    min-height: calc(100vh - 50px - (0.2em * 2));
    background-color: rgba(255, 255, 255, 0.75);
    border: .2em black solid;

}

.admin-header{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 3em;
    background-color: rebeccapurple;
    border-bottom: 0.1em solid black;
    z-index: 0;

}

.admin-left{
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 5em;
    width: 15%;
    opacity: 0.5;
    z-index: 2;
}

.admin-right{
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 5em;
    width: 85%;
    opacity: 0.8;
    z-index: 2;
    transition: 1s;
}

.admin-content-container{
    display: flex;
    margin: 0;
    width: 100%;
    height: calc(100vh - (0.1em * 4.5) - 50px - 3em);
    background-color: rgba(0, 0, 0, 0.75);
    border-color: black;
}

.go-back-btn {
    background-color: rgba(0,0,0,0.7);
    border: none;
    color: white;
    z-index: 1;
}

.admin-header .username-box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 5em;
    color: white;
    text-align: center;
    padding: 0 1em;
    z-index: 1;
}

.admin-header img {
    display: flex;
    background-color: rgba(0,0,0,0.7);
    height: 2.5em;
    align-self: center;
    padding: 0.25em 0.5em;
    z-index: 1;

}

.admin-left ul {
    padding: 1em 0;
    list-style: none;
    text-align: center;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(15,15,15,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(15,15,15,1) 50%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(15,15,15,1) 50%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.admin-left ul li {
    color: rgba(255,255,255,1);
    padding: 0;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,0);
    display: block;


}
.admin-left ul li:hover {
    color: white;
    border: 1px solid mediumpurple;


}

.btn-subpages {
    color: rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    background: none;
    border: 1px solid rgba(0,0,0,0);

}

.btn-subpages:active {
   color: rebeccapurple;
    background-color: rgba(255,255,255,0.1);
}




/*</editor-fold>*/







@media screen and (max-width: 640px) {
    .navbar-logo {
        display: none;
    }

    .navigation-menu {

        width: 100%;

    }

    .navigation-menu ul {
        padding: 0;

    }

    .navigation-login .login-container ul li label[for=login] {
        margin-left: 3.6em;

    }

    .navigation-login .login-container ul li label[for=password] {
        margin-left: 3.0em;

    }

}

@media screen and (max-width: 550px) {
    .contentBox .portfolio-me-img {
        display: block;
        float: none;
        margin: 0 auto;

    }

    .os-tables tr td img, .development-tables tr td img, .oblubene-hry-table tr td img {
        max-width: calc(100vw / 5);
    }


}

@media screen and (max-width: 515px) {

    .hidden-signup {
        margin-left: calc((0em));
    }

}


@media screen and (max-width: 470px) {

    .navigation-menu li {
        font-size: 1em;
        width: 100%;
    }

    .gallery-imagebox {
        display: flex;
        flex-direction: column;
        border: 1px black solid;
        background-color: rgba(255, 255, 255, 0.1);
        margin-bottom: 1em;
    }

    .gallery-imagebox img {

        width: 80%;
        padding: 4% 1.5%;

    }

    .navigation-login {

        width: unset;
        float: unset;
    }

    .login-container {
        display: flex;
        float: inherit;


    }

    .login-container form {
        float: right;
        overflow: hidden;
        width: 100%;
    }

    .login-container li.has-login-dropdown {

        width: 10%;
    }

    .hidden-signup {
        margin-top: 2.3em;
        margin-left: calc((-2em));
    }


}


@media screen and (max-width: 430px) {

    .navigation-menu li {
        font-size: 0.8em;
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .navbar-item {
        padding: 1px;
    }

    .navigation-login .login-container ul li label[for=login] {
        margin-left: -1em;

    }

    .navigation-login .login-container ul li label[for=password] {
        margin-left: -1em;

    }

    .hidden-signup {

        width: 6em;
        margin-top: 8em;
        margin-left: calc((0em));

    }

    .hidden-signup li {
        padding: 0.8em 0 0.7em 0;

    }


}

@media screen and (max-width: 380px) {

    .contentBox .portfolio-me-img {

        max-width: calc(100vw - 100px);

    }

}

@media screen and (max-width: 240px) {

    .navigation-menu li {
        display: none;
    }

    .navigation-login {
        opacity: 0;
    }


}

@media screen and (max-width: 200px) {

    .navigation-menu li {
        display: none;
    }

    .contentBox .portfolio-me-img {
        display: none;
    }


}








